server {
	listen 80;
	root /var/www/topdown-example;

	index index.html;

	server_name topdown-example.meta.space;

	location / {
		try_files $uri $uri/ @proxy;
	}

	location @proxy {
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header Host $host;
		proxy_pass http://localhost:8080;
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection "upgrade";
	}
}
